li {
    list-style: none;
    padding: 2px;
}

.input-tables-section {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.tables-section {
    margin-top: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 16px;
    margin-bottom: 100px;
    justify-content: center;
}

.table {
    /* width: 300px; */
    border: 1px solid #999;
    border-radius: 10px;
    padding: 24px
}

.tables-section h1 {
   text-align: center;
}


.tableData {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.boy {
    color: rgb(62, 187, 245);
    font-weight: bold;
}

.girl {
    color: rgb(244, 147, 255);
    font-weight: bold;
  
}