table {
    width: 80vw;
    max-width:400px;
    margin: auto;
    text-align: left;
}

td {
    padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.tdButtons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.deleteBtn {
    background: url("../icons/delete.png");
}

.editBtn {
    background: url("../icons/pen.png") ;
}

.deleteBtn,
.editBtn {
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-size: cover;
}