.backup-title {
    padding: 20px;
    font-size: 1.4rem;
    color: #4e4e4e;
    text-align: center;
}

input[type="file"] {   
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label {
    margin-top: 20px;
    font-size: 1.25em;
    border: dashed #a6a6a6;
    color: gray;
    border-radius: 10px;
    height: 180px;
    width: 280px;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

input[type="file"] :focus + label,
input[type="file"]  + label:hover,
#csvForm button {
    cursor: pointer;
}

#csvForm button {
    display: flex;
    border: none;
    border-radius: 12px;
    background-color: #095fb4;
    color: white;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 280px;
}

#csvForm button:hover {
    background-color: #064079;
}

#csvForm span {
    display: flex;
    width: 40px;
    height: 40px;
    filter: invert(14%) sepia(94%) saturate(6258%) hue-rotate(201deg) brightness(93%) contrast(93%);
}