.btn {
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    color: #ffffff;
    padding: 8px 26px;
}

.btn:hover {
    cursor: pointer;
}

.primary {
    background: #659edb;
}

.secondary {
    background-color: #898989;
}

.danger {
    background-color: #ed4b4b;
}